doctype
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!-->
html(lang="en")
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    title!= tagline ? tagline + ' – ' + title : title
    link(rel="stylesheet" href="/css/main.css")
    //if lt IE 10
      //- script(src="https://html5shiv.googlecode.com/svn/trunk/html5.js")
    meta(name="description", content="#{ description }")
    meta(name="author", content="#{ name }")
    meta(name="handheldfriendly", content="true")
    meta(name="mobileoptimized", content="320")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="cleartype", content="on")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    //- != partial("_includes/typogr")
    include _includes/font-face
  body(class=current.source === 'index' && current.path.length >= 2 ? current.path[current.path.length - 2] : current.source)
    .container
      .row
        include _includes/header
    //- If it’s the landing page, skip
    //- the container for full width stuff
    if current.source === "index" && current.path.length === 1
      #main.main(role="main")!= yield
    else
      #main.main.container(role="main")
        article.row.row--narrow!= yield
        //- != typogr.typogrify(yield)
    .container
      .row
        include _includes/footer
  //- script(src="/node_modules/typogr/typogr.min.js")
  //- script.
  //-   var container = document.getElementsByTagName('body');
  //-   document.addEventListener('DOMContentLoaded', function(){
  //-     typogr.typogrify(container);
  //-   })
  script(src="/js/vendor/trmix.js")
  if service.analytics
    include _includes/analytics
