doctype
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!-->
html(lang="en")
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    title!= tagline ? tagline + ' – ' + title : title
    include _includes/font-face
    link(rel="stylesheet" href="/css/main.css")
    //if lt IE 10
      //- script(src="https://html5shiv.googlecode.com/svn/trunk/html5.js")
    meta(name="description", content="#{ description }")
    meta(name="author", content="#{ name }")
    meta(name="handheldfriendly", content="true")
    meta(name="mobileoptimized", content="320")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="cleartype", content="on")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    //- Facebook
    meta(property="og:side_name" content="#{ name }")
    meta(property="og:title" content="#{ title }")
    meta(property="og:url" content="#{ url + '/' + current.path.join('/').replace('index', '') }")
    meta(property="og:description" content="#{ description }")

    //- Twitter
    meta(name="twitter:card" content="summary")
    meta(name="twitter:url" content="#{ url + '/' + current.path.join('/').replace('index', '') }")
    meta(name="twitter:title" content="#{ title }")
    meta(name="twitter:description" content="#{ description }")
    meta(name="twitter:site" content="@#{ social.twitter }")
    if author
      meta(name="twitter:creator" content="@#{ author }")
  body(class=current.source === 'index' && current.path.length >= 2 ? current.path[current.path.length - 2] : current.source)
    .container
      .row
        include _includes/header
    //- If it’s the landing page, skip
    //- the container for full width stuff
    if current.source === "index" && current.path.length === 1
      #main.main(role="main")!= yield
    else
      #main.main.container(role="main")
        article.row.row--narrow
          if current.source != "index" && current.path.length > 1
            != partial(current.path[0] + "/_nest")
          else
            != yield
    .container
      .row
        include _includes/footer
  block scripts
    script(async defer src="http://cdn.typebrigade.com/js/trmix-v1.1.0.js")
    include _includes/map
    include _includes/analytics
    if environment === 'development'
      script(src="/node_modules/typogr/typogr.min.js")
      script.
        var el = document.getElementsByTagName('body')[0]
        el.innerHTML = typogr.typogrify(el.innerHTML)
