img.banner(src="/images/typebrigade-background.svg")
.container
  .row.row--center
    h1.hidden Type Brigade

    blockquote.blockquote--intro
     | I find, if you speak about anything for
     | long enough, it always comes back to&nbsp;type.
     footer Peter Cocking,
       cite Designer

    p All the more reason to speak about it sooner.

    p Introducing <a href="http://meetup.com/typebrigade"><strong>Type Brigade</strong>: Vancouver’s type design and typography speaker series meetup</a>. It’s community-driven and completely free to&nbsp;attend.

    h2 Register for Type Brigade

include _includes/register

.container
  .row--center
    h2 Speakers at Type Brigade №24
    p The next Type Brigade will feature two fantastic talks. One talk will focus on typography, and the other on type design.
    
    .meetup-list
      for speaker, key in public.speakers._data
        - var talk = speaker['26']
        if(typeof talk === 'object')
          .meetup-talk.talk
            //- h4= talk.title
            //- p= talk.abstract
            .talk-speaker.speaker
              img.speaker-image(src="/images/speaker-#{ key }.jpg")
              //- img.speaker-image(src="http://avatars.io/twitter/#{ speaker.social.twitter }?size=large")
              h3.speaker-name= speaker.name
              .speaker-bio
                p!= speaker.bio
                if speaker.social
                  if speaker.social.twitter
                    .speaker-socailItem: a(href="https://twitter.com/#{ speaker.social.twitter}") @#{ speaker.social.twitter }
                  if speaker.social.url
                    .speaker-socailItem: a(href=speaker.social.url)= speaker.social.url.split('//')[1]
      //-
        .meetup-talk.talk
          h4.talk-title Undesigning Cherokee syllabary: Restoring the usability of a Native American writing system
          .talk-abstract
            p Ut varius suscipit eros, et accumsan lorem lobortis at. Etiam vel metus sit amet arcu dapibus sollicitudin ac quis erat. Mauris condimentum malesuada accumsan. Nulla at nulla ornare, cursus sem id, gravida ipsum. Phasellus sed massa tincidunt, porta ligula ac, ullamcorper magna.
            p Sed commodo at nisl nec aliquet. Nullam semper, est tristique sagittis molestie, est sem dictum odio, in tincidunt enim neque ultricies dui. Nunc vel consectetur justo, sed tempor erat. Nullam ut est in leo ultrices mattis. Donec magna dolor, adipiscing eget hendrerit et, imperdiet nec ligula.
          .talk-speaker.speaker
            img.speaker-image(src="/images/speaker-neil-kandalgaonkar.jpg")
            h3.speaker-name Neil Kandalgaonkar
            .speaker-bio
            p Neil Kandalgaonkar is a technologist who says “Sometimes, when a typeface I like becomes popular, I want to say ‘I loved you first.’” He's worked on sites like Google, Flickr, and Wikipedia, often with a focus on usability. He'll talk about the secret history of Native American typesetting and typeface design, and how he designed a Cherokee font that broke with 200 years of tradition.
            ul.speaker-socialList
              li.speaker-socailItem: a(href="#") Web
              li.speaker-socailItem: a(href="#") Twitter
              li.speaker-socailItem: a(href="#") GitHub
              li.speaker-socailItem: a(href="#") Dribbble
              li.speaker-socailItem: a(href="#") Instagram
  .row.row--center

    h2 Call for Speakers
    p
      a(href="call-for-speakers") The Call for Speakers is currently open.
      | If you don’t think you’re a presenter, we’d like the opportunity to prove you wrong.


.container
  .row.row--center

    h2 Sponsors
    p Type Brigade is free to attend, which would not be possible without our sponsors.
  .row
    ul.sponsor-list
      li.sponsor-item
        a.sponsor(href="http://chloi.io")
          img.sponsor-image(src="/images/sponsor-chloi.svg" alt="Chloi’s logo")
          .sponsor-details
            h4.sponsor-title Chloi Inc.
            em Organisational Sponsor
            p Chloi Inc. builds next-generation web and mobile experiences, and loves working with designers that care about type.
            p Type Brigade is much easier to run thanks to overhead covered by Chloi.
      li.sponsor-item
        a.sponsor(href="http://mobify.com")
          img.sponsor-image(src="/images/sponsor-mobify.svg" alt="Mobify’s logo")
          .sponsor-details
            h4.sponsor-title Mobify
            em Space Sponsor
            p Mobify makes the web a fast and responsive experience on all mobile devices. They know how to work with small spaces on screens, and also take care of our space for Type Brigade.
            p Thanks to Mobify for letting us use their wonderful headquarters.
      li.sponsor-item
        a.sponsor(href="http://portpaperco.com")
          img.sponsor-image(src="/images/sponsor-port-paper-co.svg" alt="Port Paper Co.’s logo")
          .sponsor-details
            h4.sponsor-title Port Paper Co.
            em Print Sponsor
            p Port Paper Co. are a custom letterpress studio and producer of fine paper goods. Print like it's 1450 all over again!
            p Type Brigade’s custom-lettered print is carefully letterpressed by the impressive Port Paper Co.
      li.sponsor-item
        a.sponsor(href="mailto:#{ email }?subject=Info about sponsoring Type Brigade")
          img.sponsor-image(src="/images/sponsor-open.svg" alt="Sponsorship slot available")
          .sponsor-details
            h4.sponsor-title Interested in sponsoring?
            em Sponsor Type Brigade
            p Type Brigade has an active membership of amazing designers and type enthusiasts. If you’re looking to be move involved with design in Vancouver, email <span class="a-faux">#{ email }</span> for more information about sponsoring.

      //-
        li.sponsor-item
          a.sponsor(href="mailto:#{ email }?subject=Info about collaborating with Type Brigade")
            img.sponsor-image(src="/images/sponsor-open.svg" alt="Collaboration slot available")
            .sponsor-details
              h4.sponsor-title Interested in collabs?
              em Work with Type Brigade
              p We’ve worked with Emily Carr University, Mobify, Vancouver Design Week, and more. Let us know if you’d like to collaborate.  

  .row.row--center
    != partial("blog/index", { "limit": 3 }).replace("h1", "h2")
