footer.footer
  .footer-block
    h4 Type Brigade
    ul.footer-list
      //- li.footer-item: a.footer-link(href="/events") Events
      li.footer-item: a.footer-link(href="/blog") Blog
      li.footer-item: a.footer-link(href="/about") About
      li.footer-item: a.footer-link(href="/code-of-conduct") Code of Conduct
      li.footer-item: a.footer-link(href="/call-for-speakers") Call for Speakers
      //- li.footer-item: a.footer-link(href="/sponsors") Sponsorship Opportunites
  .footer-block
    h4 Elsewhere
    ul.footer-list
      li.footer-item: a.footer-link(href="http://meetup.com/#{ social.meetup }") Meetup
      li.footer-item: a.footer-link(href="http://twitter.com/#{ social.twitter }") Twitter
      //- li.footer-item: a.footer-link(href="http://instagram.com/#{ social.instagram }") Instagram
      li.footer-item: a.footer-link(href="http://instagram.com/explore/tags/#{ social.instagram }") Instagram
      li.footer-item: a.footer-link(href="http://github.com/#{ social.github }") GitHub
  .footer-block
    :markdown
      #### Colophon

      Text is set in FF More, by <a href="http://alfabety.pl">Lukasz Dziedzic</a> from FontFont via Typekit.

      Headings and pullquotes are set in [James T. Edmondson](http://jamestedmondson.com)’s Edmondsans, from our friends at <a href="http://losttype.com/font/?name=edmondsans">Lost Type Co-op</a>.

      <!-- Our custom event numerals are by Type Brigade’s Resident Letterer for June, [Alanna Munro](http://twitter.com/alannamun). -->

      <small>
      Copyright © 2014–2015 <a href="http://typebrigade.com">Type Brigade</a>. Code <a href="https://github.com/typebrigade/typebrigade.com">available</a> under the [MIT License](/LICENSE).
      </small>
