doctype
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!-->
html(lang="en")
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    title!= tagline ? tagline + ' – ' + title : title
    include _includes/font-face
    link(rel="stylesheet" href="/css/main.css")
    != partial("../node_modules/typogr/typogr.jade")

    <!--[if lt IE 10]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"><![endif]-->
    meta(name="description", content="#{ description }")
    meta(name="author", content="#{ author || name }")
    meta(name="handheldfriendly", content="true")
    meta(name="mobileoptimized", content="320")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="cleartype", content="on")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    
    // Current page
    - var currentPage = current.source === 'index' && current.path.length >= 2 ? current.path[current.path.length - 2] : current.source

    //- Facebook
    meta(property="og:side_name" content="#{ name }")
    meta(property="og:title" content="#{ title }")
    meta(property="og:url" content="#{ url + '/' + current.path.join('/').replace('index', '') }")
    meta(property="og:description" content="#{ description }")

    //- Twitter
    meta(name="twitter:url" content="#{ url + '/' + current.path.join('/').replace('index', '') }")
    meta(name="twitter:title" content="#{ title }")
    meta(name="twitter:description" content="#{ description }")
    meta(name="twitter:site" content="@#{ social.twitter }")
    if author
      meta(name="twitter:creator" content="@#{ author }")
    if public.images._contents[currentPage + '-' + title + '-1.png']
      meta(name="twitter:card" content="summary_large_image")
      meta(name="og:image" content="#{ uri }#{ og.image }")
      meta(name="twitter:image:src" content="#{ og.image }")
    each img in public.images._contents
      if img.split('.')[0] === current.path[0] + '-' + currentPage + '-1' 
        meta(name="twitter:card" content="summary_large_image")
        meta(name="og:image" content="#{ url }/images/#{ img }")
        meta(name="twitter:image:src" content="#{ img }")
        - return
      else
        meta(name="twitter:card" content="summary")

  body(class=currentPage)


    .container
      .row
        != typogr.typogrify(partial("_includes/header"))
    //- If it’s the landing page, skip
    //- the container for full width stuff
    if current.source === "index" && current.path.length === 1
      #main.main(role="main")!= typogr.typogrify(yield)
    else
      #main.main.container(role="main")
        article.row.row--narrow
          if current.source != "index" && current.path.length > 1
            != typogr.typogrify(partial(current.path[0] + "/_nest"))
          else
            != typogr.typogrify(yield)
    .container
      .row
        != typogr.typogrify(partial("_includes/footer"))
  block scripts
    script(async defer src="http://cdn.typebrigade.com/js/trmix-v1.1.0.js")
    include _includes/map
    include _includes/analytics
