img.banner(src="/images/typebrigade-background.svg")
.container
  .row.row--center
    h1.hidden Type Brigade

    blockquote.blockquote--intro
     | I find, if you speak about anything for
     | long enough, it always comes back to&nbsp;type.
     footer Peter Cocking,
       cite Designer

    p All the more reason to speak about it sooner.

    p Introducing <a href="http://meetup.com/typebrigade"><strong>Type Brigade</strong>: Vancouver’s type design and typography speaker series meetup</a>. It’s community-driven and completely free to&nbsp;attend.

    h2 Register for Type Brigade

include _includes/register

.container
  .row.row--center
    section
      != partial("blog/index", { "limit": 1 })
    //-
      .row--center
      
      //- h2 Speakers at Type Brigade №24
      h2 Type Brigade Special

      p The next Type Brigade will feature two fantastic talks. One talk will focus on typography, and the other on type design.
      
      .meetup-list
        for speaker, key in public.speakers._data
          - var talk = speaker['special-commercial-type']
          if(typeof talk === 'object')
            .meetup-talk.talk
              h4= talk.title
              p= talk.abstract
              .talk-speaker.speaker
                img.speaker-image(src="/images/speaker-#{ key }.jpg")
                //- img.speaker-image(src="http://avatars.io/twitter/#{ speaker.social.twitter }?size=large")
                h3.speaker-name= speaker.name
                .speaker-bio
                  p!= speaker.bio
                  if speaker.social
                    if speaker.social.twitter
                      .speaker-socailItem: a(href="https://twitter.com/#{ speaker.social.twitter}") @#{ speaker.social.twitter }
                    if speaker.social.url
                      .speaker-socailItem: a(href=speaker.social.url)= speaker.social.url.split('//')[1]
      //-
        .meetup-talk.talk
          h4.talk-title Undesigning Cherokee syllabary: Restoring the usability of a Native American writing system
          .talk-abstract
            p Ut varius suscipit eros, et accumsan lorem lobortis at. Etiam vel metus sit amet arcu dapibus sollicitudin ac quis erat. Mauris condimentum malesuada accumsan. Nulla at nulla ornare, cursus sem id, gravida ipsum. Phasellus sed massa tincidunt, porta ligula ac, ullamcorper magna.
            p Sed commodo at nisl nec aliquet. Nullam semper, est tristique sagittis molestie, est sem dictum odio, in tincidunt enim neque ultricies dui. Nunc vel consectetur justo, sed tempor erat. Nullam ut est in leo ultrices mattis. Donec magna dolor, adipiscing eget hendrerit et, imperdiet nec ligula.
          .talk-speaker.speaker
            img.speaker-image(src="/images/speaker-neil-kandalgaonkar.jpg")
            h3.speaker-name Neil Kandalgaonkar
            .speaker-bio
            p Neil Kandalgaonkar is a technologist who says “Sometimes, when a typeface I like becomes popular, I want to say ‘I loved you first.’” He's worked on sites like Google, Flickr, and Wikipedia, often with a focus on usability. He'll talk about the secret history of Native American typesetting and typeface design, and how he designed a Cherokee font that broke with 200 years of tradition.
            ul.speaker-socialList
              li.speaker-socailItem: a(href="#") Web
              li.speaker-socailItem: a(href="#") Twitter
              li.speaker-socailItem: a(href="#") GitHub
              li.speaker-socailItem: a(href="#") Dribbble
              li.speaker-socailItem: a(href="#") Instagram
  
  .row.row--center
    h2 Call for Speakers
    p
      a(href="call-for-speakers") The Call for Speakers is currently open.
      | We host experienced and new presenters alike, and are happy to help you work on your talk. We’re looking for speakers for mid-2018, so there’s plenty of time to prepare. Send us a proposal, in any state!


.container
  .row.row--center

    h2 Sponsors
    p Type Brigade is free to attend, which would not be possible without our sponsors.
  .row
    ul.sponsor-list
      li.sponsor-item
        a.sponsor(target="_blank" rel="noopener" href="http://www.mitchellpress.com/")
          img.sponsor-image(src="/images/sponsor-mitchelldigital.svg" alt="Mitchell Digital’s logo")
          .sponsor-details
            h4.sponsor-title Mitchell Press
            em Print Club partner
            p Mitchell Press &amp; Mitchell Digital are our partners for our recurring Print Club. At Mitchell Press, “Every Impression Matters.” Talk to them for high speed, premium quality, commercial printing.
      //- li.sponsor-item
      //-   a.sponsor(target="_blank" rel="noopener" href="https://brainstation.io/event/full-time-info-session-201821702912")
      //-     img.sponsor-image(src="/images/sponsor-brainstation.svg" alt="BrainStation’s logo")
      //-     .sponsor-details
      //-       h4.sponsor-title BrainStation Vancouver
      //-       em Space Sponsor
      //-       p BrainStation is a digital school in Vancouver that offers part-time and full-time courses related to product, design, development, marketing, and data. Attend their next info session on May 1!
      li.sponsor-item
        a.sponsor(href="/sponsors")
          img.sponsor-image(src="/images/sponsor-open.svg" alt="Sponsorship slot available")
          .sponsor-details
            h4.sponsor-title Interested in sponsoring?
            em Sponsor Type Brigade
            p Type Brigade has an active membership of amazing designers and type enthusiasts. If you’re looking to be move involved with design in Vancouver, email kenneth@typebrigade.com for more information about sponsoring.

      //- li.sponsor-item
      //-   a.sponsor(target="_blank" rel="noopener" href="https://www.ufv.ca/graphic-design/")
      //-     img.sponsor-image(src="/images/sponsor-ufv.svg" alt="UFV’s logo")
      //-     .sponsor-details
      //-       h4.sponsor-title UFV Graphic + Digital Design
      //-       em Attendees
      //-       p Thanks to UFV Graphic + Digital Design department for attending and supporting this event.
      //- p MetaLab help the world’s top companies build amazing digital products.
      //- p Their support of Type Brigade helps us cover costs for event. Thanks MetaLab!
      //- a.sponsor(href="http://unbounce.ca")
      //-   img.sponsor-image(src="/images/sponsor-unbounce.svg" alt="Unbounce’s logo")
      //-   .sponsor-details
      //-     h4.sponsor-title Unbounce
      //-     em Sponsor
      //-     p Unbounce is kindly sharing their office space for our next event.
      //-     //- p MetaLab help the world’s top companies build amazing digital products.
      //-     //- p Their support of Type Brigade helps us cover costs for event. Thanks MetaLab!
      //- li.sponsor-item
      //-   a.sponsor(href="https://mcec.microsoft.ca/")
      //-     img.sponsor-image(src="/images/sponsor-microsoft.png" alt="Microsoft logo")
      //-     .sponsor-details
      //-       h4.sponsor-title Microsoft
      //-       em Overhead sponsor
      //-       p Microsoft Vancouver are the our overhead sponsor for our next event, helping us cover the costs of running Type Brigade!
      //- li.sponsor-item
      //-   a.sponsor(href="/sponsors")
      //-     img.sponsor-image(src="/images/sponsor-open.svg" alt="Sponsorship slot available")
      //-     .sponsor-details
      //-       h4.sponsor-title Interested in sponsoring?
      //-       em Sponsor Type Brigade
      //-       p Type Brigade has an active membership of amazing designers and type enthusiasts. If you’re looking to be move involved with design in Vancouver, email <span class="a-faux">#{ email }</span> for more information about sponsoring.
      //- li.sponsor-item
      //-   a.sponsor(href="mailto:#{ email }?subject=Info about collaborating with Type Brigade")
      //-     img.sponsor-image(src="/images/sponsor-open.svg" alt="Collaboration slot available")
      //-     .sponsor-details
      //-       h4.sponsor-title Let’s collaborate
      //-       em Work with Type Brigade
      //-       p We’ve worked with Mobify, Vancouver Design Week, Emily Carr University, and more. Let us know if you’d like to collaborate.  

      //-
        li.sponsor-item
          a.sponsor(href="http://metalab.com")
            img.sponsor-image(src="/images/sponsor-metalab.png" alt="Metalab’s logo")
            .sponsor-details
              h4.sponsor-title MetaLab
              em Sponsor
              p MetaLab help the world’s top companies build amazing digital products.
              p Their support of Type Brigade helps us cover costs for event. Thanks MetaLab!

        li.sponsor-item
          a.sponsor(href="mailto:#{ email }?subject=Info about collaborating with Type Brigade")
            img.sponsor-image(src="/images/sponsor-open.svg" alt="Collaboration slot available")
            .sponsor-details
              h4.sponsor-title Interested in collabs?
              em Work with Type Brigade
              p We’ve worked with Emily Carr University, Mobify, Vancouver Design Week, and more. Let us know if you’d like to collaborate.  
