footer.footer
  .footer-block
    h4 Type Brigade
    ul.footer-list
      //- li.footer-item: a.footer-link(href="/events") Events
      li.footer-item: a.footer-link(href="/blog") Blog
      li.footer-item: a.footer-link(href="/about") About
      li.footer-item: a.footer-link(href="/code-of-conduct") Code of Conduct
      li.footer-item: a.footer-link(href="/call-for-speakers") Call for Speakers
      //- li.footer-item: a.footer-link(href="/sponsors") Sponsorship Opportunites
  .footer-block
    h4 Elsewhere
    ul.footer-list
      li.footer-item: a.footer-link(href="http://meetup.com/#{ social.meetup }") Meetup
      li.footer-item: a.footer-link(href="http://patreon.com/#{ social.patreon }") Patreon
      li.footer-item: a.footer-link(href="http://twitter.com/#{ social.twitter }") Twitter
      //- li.footer-item: a.footer-link(href="http://instagram.com/#{ social.instagram }") Instagram
      li.footer-item: a.footer-link(href="http://instagram.com/explore/tags/#{ social.instagram }") Instagram
      li.footer-item: a.footer-link(href="http://github.com/#{ social.github }") GitHub

  .footer-block
    != partial("../colophon.md").replace('h1', 'h4')
