h1 Events

ol
  for meetup, i in public.events._data
    num = public.events._data.length - i
    if num > 19
      eventName = 'Type Brigade'
    else
      eventName = 'Vancouver Typography Meetup Group'
    if meetup.title && (limit ? i <= limit : true)
      li
        em #{ eventName } №#{ num }
        a(href="#{ meetup.url ? meetup.url : num }")
          h2 #{ meetup.title }
          time.is-fuzzyDate #{ meetup.date }
          if public.images._contents.indexOf('event-' + num + '.jpg') !== -1
            img(src="/images/#{ 'event-' + num + '.jpg' }" alt="")
          // else if greater than 19 show speaker images or something
          address
            h3 #{ meetup.location }
            !{ meetup.address }
